.t-wolkki {
  display: inline-block;
  margin-top: 1%;
  margin-left: 2%;
  color: #000;
  font-size: 90%;
  font-family: sans-serif;
  font-weight: bold;
}

span {
  display: inline-block;
  margin-top: 1%;
  margin-left: 28%;
  color: #000;
  font-size: 85%;
  font-family: sans-serif;
  font-weight: bold;
}

.i-profile {
  margin-left: 24%;
  color: #18a791;
  font-size: 220%;
}

table {
  margin-top: 5%;
  margin-left: 3%;
  width:  95%;
  height: 80%;
  font-size: 120%;
  font-family: sans-serif;
  font-weight: bold;
  overflow: auto;

}

tbody{
  padding:5px;
  width:85%;
  height:73%;
  overflow:auto;
}
.i-checkmy {
  display: inline-block;
  color: #397fc1;
  background-color: white;
  font-size: 200%;
  margin-left: -10%;
  bottom: 5%;
  width: 40%;
  position: fixed;
  text-align: center;
}

.i-include {
  display: inline-block;
  color: #29c739;
  background-color: white;
  font-size: 250%;
  margin-left: 29%;
  bottom: 5%;
  width: 40%;
  position: fixed;
  text-align: center;
}

.i-groups {
  display: inline-block;
  color: #397fc1;
  background-color: white;
  font-size: 200%;
  margin-left: 65%;
  position: absolute;
  bottom: 5%;
  width: 26%;
  position: fixed;
  text-align: right;
}

.t-footer-checkmay {
  display: inline-block;
  margin-left: -10%;
  bottom: 2%;
  font-size: 100%;
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  width: 40%;
  position: fixed;
  text-align: center;
}

.t-footer-include {
  display: inline-block;
  margin-left: 29%;
  bottom: 2%;
  font-size: 100%;
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  width: 40%;
  position: fixed;
  text-align: center;
}

.t-footer-groups {
  display: inline-block;
  margin-left: 66%;
  bottom: 2%;
  font-size: 100%;
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  width: 26%;
  position: fixed;
  text-align: right;
}
